.fill-space {
  flex: 1 1 auto;
}

.mode-icon {
  padding: 0 10px;
}

.brand {
  padding: 10px;
}

.fixed-header {
  position: fixed;
  z-index: 2;
  background-color: transparent;
  transition: top 0.5s;
  top: 0;
}
