<mat-toolbar class="fixed-header mat-elevation-z10"
             [ngStyle]="{'top': scrollUp && pastIntro ? '-64px' : '0px',
                         'color': (pastIntro && !darkMode) ? 'black' : 'white'}">
  <!-- HAMBURGER & BRAND -->
  <div>
    <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon></button>
  </div>
  <span class="brand">RP</span>
  <span class="fill-space"></span>

  <!-- LIGHT/DARK MODE -->
  <button #resume mat-stroked-button (click)="openBottomSheet()" color="accent">RESUME</button>
  <span class="mode-icon"><fa-icon size="md" [icon]="['fas', 'sun']"></fa-icon></span>
  <mat-slide-toggle [checked]="darkMode"
                    (dragChange)="toggleMode()"
                    (toggleChange)="toggleMode()"
                    color="accent"></mat-slide-toggle>
  <span class="mode-icon"><fa-icon size="md" [icon]="['fas', 'moon']"></fa-icon></span>
</mat-toolbar>
