<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="footer-content" *ngFor="let item of footerItems">
        <a [href]="item.link" mat-button target="_blank" rel="noreferrer">{{ item.label }}</a>
      </div>
      <div class="footer-content">
        <button mat-button (click)="openBottomSheet()" mat-button>Resume</button>
      </div>
      <!-- check out snackbar as well -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="footer-content footer-copyright copyright text-center py-3">
        Raymond Pistoresi © 2019
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
