<mat-nav-list #bottomsheet>
  <a href="{{ resume }}"
     mat-list-item
     (click)="dismissBottomSheet()"
     download="Pistoresi_Resume">
    <span mat-line><mat-icon>cloud_download</mat-icon>Download</span>
    <span mat-line>Save to device</span>
  </a>
  <a href="{{ resume }}"
     mat-list-item
     (click)="dismissBottomSheet()"
     target="_blank">
    <span mat-line><mat-icon>open_in_browser</mat-icon>Open in browser</span>
    <span mat-line>Show in new tab</span>
  </a>
</mat-nav-list>
