.tab-row {
  margin-top: 10px;
  text-align: left;
}

.featured {
  margin-left: 15px;
}

mat-list-item:hover fa-icon, mat-list-item:hover h4, h3 {
  color: rgb(8, 169, 233);
}

p {
  font-size: 14px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
  margin: 10px;
}

@media (min-width: 640px) {
  img {
    height: 250px;
    width: 250px;
    border-radius: 10px 100px / 120px;
    margin: 10px;
  }

  p {
    font-size: 18px;
  }
}

.mat-list-icon {
  display: inline-flex;
  vertical-align: middle;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  padding: 5px 0;
}

.mat-list-item-word-wrap .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
