<h1 class="section-header" id="about">About</h1>
<mat-tab-group dynamicHeight animationDuration="1000ms" color="accent">
  <mat-tab [label]="tab.label" *ngFor="let tab of tabs">
    <div class="tab-row"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start center">
      <div><img [src]="tab.picture.path" [alt]="tab.picture.alt"></div>
      <div class="featured" *ngIf="tab.default">
        <h1 class="title">{{ tab.title }}</h1>
        <p>{{ tab.content1 }}</p>
        <p>{{ tab.content2 }}</p>
      </div>
      <div>
        <mat-list fxFlex *ngIf="!tab.default">
          <h1 class="title">{{ tab.title }}</h1>
          <mat-list-item class="mat-list-item-word-wrap" *ngFor="let listItem of tab.list">
            <fa-icon mat-list-icon
                     [icon]="['fas', listItem.icon]"
                     [fixedWidth]="true"
                     size="md">
            </fa-icon>
            <p mat-line>{{ listItem.item }}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
