    <mat-card
      class="group"
      fxLayout="row wrap"
      fxLayout="column"
      style="border-style: solid; border-color: blue">
      <mat-card-title>{{ tab.title }}</mat-card-title>
      <mat-card-content style="border-style: solid; border-color: blue">
        <p>{{ tab.content1 }}</p>
        <p *ngIf="tab.content2">{{ tab.content2 }}</p>
        <ul *ngIf="tab.list">
          <!-- <div [@listAnimation]="items.length"
              (@listAnimation.start)="logAnimation($event)"
              (@listAnimation.done)="logAnimation($event)"> -->
              <mat-list>
                <mat-list-item fxLayout="row wrap" fxLayout="column"
                  style="border-style: solid; border-color: red"
                  class="mat-list-item-word-wrap"
                  *ngFor="let itm of items">
                  <fa-icon mat-list-icon size="md" [icon]="['fas', itm.icon]"></fa-icon>
                  <h4 mat-line>{{ itm.item }}</h4>
                </mat-list-item>
              </mat-list>
          <!-- </div> -->
        </ul>
      </mat-card-content>
    </mat-card>
    (selectedTabChange)="showItems($event)"
    style="border-style: solid; border-color: red"
