.edges {
  margin: 0 20px;
}

@media (min-width: 640px) {
  .edges {
    margin: 0 100px;
  }
}

.spacer {
  height: 200px;
}

.sidenav {
  display: flex;
  position: fixed;
  width: 175px;
  top: 0px;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

.side-container {
  top: 0px;
}

.side-item {
  padding-left: 20px;
}

.side-icon {
  margin-right: 10px;
}
