<div [class.custom-dark-theme]="header.darkMode">
  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav #sidenav fxLayout="column" class="sidenav" position="start">
      <div fxLayout="column" *ngFor="let item of navItems">
        <button mat-button
                class="side-item"
                (click)="closeSidenav(item.id)"
                fxLayoutAlign="start"
                aria-label="item.label">
          <span class="side-btn">
            <fa-icon class="side-icon"
                     [icon]="['fas',item.icon]"
                     [fixedWidth]="true"
                     size="lg">
            </fa-icon>
            {{ item.label }}
          </span>
        </button>
      </div>
    </mat-sidenav>

    <!-- MAIN CONTENT -->
    <mat-sidenav-content>
      <app-header #header [scrollDown]="scrollingDown" [pastIntro]="passedIntro"></app-header>
      <div class="extra-margins">
        <app-intro></app-intro>
        <div #divide class="edges">
          <app-about></app-about>
          <div class="spacer"></div>
          <app-experience></app-experience>
          <div class="spacer"></div>
          <app-projects></app-projects>
          <div class="spacer"></div>
          <app-contact></app-contact>
          <div class="spacer"></div>
        </div>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
