mat-expansion-panel-header, h4, p {
  /* font-size: 11px; */
}

@media (min-width: 601px) {
  mat-expansion-panel-header, h4, p {
    font-size: 15px;
  }
}

mat-panel-title:hover, fa-icon:hover {
  color: rgb(148, 114, 69);
}

mat-panel-description {
  flex: 0 1 auto;
}
