mat-expansion-panel-header, h4, p {
  font-size: 11px;
}

@media (min-width: 601px) {
  mat-expansion-panel-header, h4, p {
    font-size: 15px;
  }
}

mat-panel-title:hover, mat-expansion-panel:hover {
  color: tan;
}

mat-panel-description {
  flex: 0 1 auto;
}
