<h1 class="section-header">Projects</h1>
<div class="project-card"
     id="project"
     fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     *ngFor="let project of projects">
  <mat-card fxFill (click)="doSomething()">
      <mat-card-header>
        <img mat-card-avatar [src]="project.img" alt="Photo of a Shiba Inu">
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.content }}</mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-content style="margin-top: 10px">
        <p>{{ project.content }}</p>
      </mat-card-content> -->
      <mat-card-footer fxLayoutAlign="end">
        <a [href]="action.url" *ngFor="let action of project.actions">
          <fa-icon class="brand-icons"
                  size="24px"
                  [ngClass]="action.icon"
                  [icon]="[action.prefix, action.icon]"></fa-icon></a>
      </mat-card-footer>
  </mat-card>
</div>
<!-- style="border-color: purple; border-style: solid"
style="border-color: tan; border-style: solid"
style="border-color: red; border-style: solid"
style="border-color: blue; border-style: solid"
style="border-color: yellowgreen; border-style: solid" -->
