<h1 class="section-header" id="projects">Projects</h1>
<div class="project-card"
     id="project"
     fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     *ngFor="let project of projects">
  <mat-card fxFill>
      <mat-card-header [class.hovering]="project.url != null" (click)="openLink(project.url)">
        <img mat-card-avatar [src]="project.img.src" [alt]="project.img.alt">
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.content }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer fxLayoutAlign="end">
        <a [href]="tool.url" *ngFor="let tool of project.tools" target="_blank">
          <fa-icon class="brand-icons"
                   size="24px"
                   [ngClass]="tool.icon"
                   [icon]="[tool.prefix, tool.icon]"></fa-icon></a>
      </mat-card-footer>
  </mat-card>
</div>
