.project-card {
  padding: 5px;
}

mat-card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  justify-content: center;
}

mat-card-header:hover {
  color: rgb(148, 114, 69);
  cursor: pointer;
}

.brand-icons {
  color: gray;
  padding: 3px;
  font-size: 18px;
}

.brand-icons:hover {
  color: rgb(148, 114, 69);
}

/* .my-fa:hover {
  color: green;
}
.angular:hover {
  color: rgb(181,46,49);
}
.github:hover {
  color: #333;
}
.html5:hover {
  color: #e34f26;
}
.css3:hover {
  color: #002561;
}
.js:hover {
  color: #f7df1e;
  background-color: rgb(50, 51, 48);
}
.font-awesome:hover {
  color: #228ae6;
}

.docker:hover {
  color: #0db7ed;
} */
