.project-card {
  padding: 5px;
}

mat-card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  justify-content: center;
}

mat-card-header {
  padding-right: 10px;
}

mat-card-header:hover, .brand-icons:hover {
  color: #08a9e9; /* tourqouise */
}

.hovering {
  cursor: pointer;
}

.brand-icons {
  padding: 5px;
  font-size: 24px;
}
