<h1 class="section-header" id="projects">Projects</h1>
<div class="project-card"
     fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     *ngFor="let project of projects">
  <mat-card fxFill>
      <mat-card-header [class.hovering]="project.url != null" (click)="openLink(project.url)">
        <img mat-card-avatar [src]="project.img.src" [alt]="project.img.alt">
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.content }}</mat-card-subtitle>
      </mat-card-header>
      <hr style="border-color: #d3d3d3">
      <mat-card-footer style="margin-right:2px" fxLayoutAlign="end">
        <fa-icon *ngFor="let tool of project.tools"
                  class="brand-icons"
                  [ngClass]="tool.icon"
                  [icon]="[tool.prefix, tool.icon]">
        </fa-icon>
      </mat-card-footer>
  </mat-card>
</div>
