mat-card img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  border-width: 1px;
}

.project-card {
  padding: 5px;
}

.brand-icons {
  color: gray;
  padding: 3px;
  font-size: 18px;
}

.my-fa:hover {
  color: green;
}
.angular:hover {
  color: rgb(181,46,49);
}
.github:hover {
  color: #333;
}
.html5:hover {
  color: #e34f26;
}
.css3:hover {
  color: #002561;
}
.js:hover {
  color: #f7df1e;
  background-color: rgb(50, 51, 48);
}
.font-awesome:hover {
  color: #228ae6;
}

.docker:hover {
  color: #0db7ed;
}
