.pic {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/img/bw.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.intro-text {
  padding-top: 64px;
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  color: rgb(148, 114, 69);
  font-size: 48px;
}

.career {
  color: lightgray;
  font-size: 24px;
}

.addict {
  color: rgb(148, 114, 69);
  font-size: 12px;
}
