.pic {
  height: 100vh;
  background-image: url('../../assets/img/bw.jpg');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

.name {
  color: rgb(148, 114, 69);
  font-size: 48px;
}

.career {
  color: lightgray;
  font-size: 24px;
}

.addict {
  color: rgb(148, 114, 69);
  font-size: 12px;
}
