a, a.nav-link:visited, a.nav-link:link {
  color: white;
  font-size: 14px;
}

.nav-item {
  text-align: right;
}

.bg-imaged {
  background-image: url('../../assets/blue-model-s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.bg-imaged-featured {
  background-image: url('../../assets/red-model-s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
