a {
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

.content {
  text-align: center;
  color: black;
  font-family: 'Nuene Helvetica';
  font-size: 36px;
}

.btn-round-lg-black {
  border-radius: 22.5px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 200px;
}
