@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$custom-app-primary: mat-palette($mat-grey, 200);
$custom-app-accent:  mat-palette($mat-pink, 700);
$custom-app-warn:    mat-palette($mat-green, 900);
$custom-app-theme:   mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

// Include the default theme styles.
@include angular-material-theme($custom-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-grey, 900);
$dark-accent:  mat-palette($mat-deep-orange, 600);
$dark-warn:    mat-palette($mat-light-blue, 200);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.custom-dark-theme {
  @include angular-material-theme($dark-theme);
}
